body {
  font-family: 'Open Sans', sans-serif;
  background-color: #464A4E;
  box-sizing: none; }

.inactive {
  display: none; }

h1 {
  text-align: center; }

.opening-page h1 {
  background: linear-gradient(45deg, #9BAFDC, #637BB0);
  color: white;
  margin: 0;
  padding: 15px; }

.player-selection {
  color: white; }

.players-container {
  width: 75%;
  margin: 0 auto; }

.info-container {
  width: 48%;
  cursor: pointer;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out; }

.info-container h1 {
  background-color: #F3F4F7;
  margin: 0;
  padding: 10px 0;
  color: #464A4E;
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid #D5D5D5; }

.info-container img {
  margin: 20px auto;
  display: block;
  width: 50%;
  border: 1px solid #D5D5D5; }

.info-container:hover {
  transform: scale(1.02); }

.info-container:nth-child(2n+2) {
  margin-right: 0; }

#stats-div {
  text-align: center; }

#stats-div h3 {
  display: inline-block;
  margin: 0 14px;
  color: #464A4E;
  font-weight: 300;
  font-size: 1em;
  margin: 0 22px; }

#stats-div h4 {
  text-align: center;
  background: linear-gradient(45deg, #9BAFDC, #637BB0);
  color: white;
  margin: 0;
  padding: 7px 0px;
  margin-top: 10px;
  text-transform: uppercase; }

#stats-div h5 {
  margin: 0 auto;
  padding: 13px 25px;
  text-align: left;
  background-color: #F3F4F7;
  font-weight: 300; }

.selection-info-container {
  text-align: center;
  background-color: white;
  padding: 11px 0; }

.paddle-selection h1 {
  color: white; }

.paddles-container {
  width: 75%;
  margin: 0 auto; }

.paddle-info-container {
  width: 30.5%;
  background-color: white;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
  padding-bottom: 15px; }

.paddle-info-container h1 {
  background-color: #F3F4F7;
  margin: 0;
  padding: 10px 0;
  color: #464A4E;
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid #D5D5D5; }

.paddle-info-container img {
  margin: 27px auto;
  display: block;
  width: 50%; }

.paddle-info-container:nth-child(3) {
  margin-right: 0; }

.paddle-info-container:hover {
  transform: scale(1.02); }

.location-selection h1 {
  color: white; }

.location-selection h2 {
  color: white;
  font-weight: 300;
  text-align: center;
  padding: 0 148px; }

.locations-container {
  width: 75%;
  margin: 0 auto; }

.location-info-container {
  width: 48%;
  background-color: white;
  display: inline-block;
  margin-right: 4%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all .2s ease-in-out;
  margin-bottom: 37px;
  padding-bottom: 15px; }

.location-info-container h1 {
  background-color: #F3F4F7;
  margin: 0;
  padding: 10px 0;
  color: #464A4E;
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid #D5D5D5; }

.location-info-container img {
  margin: 27px auto;
  display: block;
  width: 50%; }

.location-info-container:hover {
  transform: scale(1.02); }

.location-info-container:nth-child(2n+2) {
  margin-right: 0; }

.opponent-selection h1 {
  color: white; }

.opponent-container {
  width: 85%;
  margin: 0 auto; }

.opponent-info-container {
  width: 30%;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px;
  background-color: white;
  cursor: pointer;
  transition: all .2s ease-in-out; }

.opponent-info-container h1 {
  background-color: #F3F4F7;
  margin: 0;
  padding: 10px 0;
  color: #464A4E;
  text-transform: uppercase;
  font-size: 1.3em;
  border-bottom: 1px solid #D5D5D5; }

.opponent-info-container img {
  margin: 27px auto;
  display: block;
  width: 75%; }

.opponent-info-container:hover {
  transform: scale(1.02); }

.opponent-info-container:last-child {
  margin-right: 0; }

#forehand-stroke {
  display: inline-block;
  margin-top: 10px;
  width: 50%;
  text-align: center;
  padding: 33px 0;
  cursor: pointer;
  background-color: #9CAFDA;
  font-size: 3em;
  color: white; }

#backhand-stroke {
  display: inline-block;
  width: 49.6%;
  margin-top: 10px;
  text-align: center;
  padding: 33px 0;
  cursor: pointer;
  background-color: #637BB0;
  font-size: 3em;
  color: white; }

.chosen-players-container {
  margin: 14px auto;
  width: 34%; }

.chosen-players-container .info-container {
  width: 48%;
  margin-bottom: 0; }

.opponent-scoreboard, .player-scoreboard {
  font-family: 'Raleway Dots', cursive;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 2.5em; }

.scoreboard-container {
  margin: 13px auto;
  width: 28%; }

.opponent-game-commentary, .player-game-commentary {
  text-align: center;
  color: white; }
