.inactive {
  display: none;
}
h1 {
  text-align: center;
}

///////////////////////////////
/////PLAYER SELECTION PAGE
//////////////////////////////

.players-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey;
}
.info-container {
  width: 48%;
  background-color: grey;
  display: inline-block;
  margin-right: 37px;
  margin-bottom: 37px;
  img {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}
.info-container:nth-child(2n+2) {
  margin-right: 0;
}

///////////////////////////////
/////PADDLE SELECTION
//////////////////////////////

.paddles-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey;
}
.paddle-info-container {
  width: 30.5%;
  background-color: grey;
  display: inline-block;
  margin-right: 37px;
  margin-bottom: 37px;
  img {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}
.paddle-info-container:nth-child(3) {
  margin-right: 0;
}

///////////////////////////////
/////LOCATION SELECTION
//////////////////////////////

.locations-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey;
}
.location-info-container {
  width: 48%;
  background-color: grey;
  display: inline-block;
  margin-right: 37px;
  margin-bottom: 37px;
  img {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}
.location-info-container:nth-child(2n+2) {
  margin-right: 0;
}
