.inactive {
  display: none; }

h1 {
  text-align: center; }

.players-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey; }

.info-container {
  width: 48%;
  background-color: grey;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px; }

.info-container img {
  margin: 0 auto;
  display: block;
  width: 50%; }

.info-container:nth-child(2n+2) {
  margin-right: 0; }

.paddles-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey; }

.paddle-info-container {
  width: 30.5%;
  background-color: grey;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px; }

.paddle-info-container img {
  margin: 0 auto;
  display: block;
  width: 50%; }

.paddle-info-container:nth-child(3) {
  margin-right: 0; }

.locations-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey; }

.location-info-container {
  width: 48%;
  background-color: grey;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px; }

.location-info-container img {
  margin: 0 auto;
  display: block;
  width: 50%; }

.location-info-container:nth-child(2n+2) {
  margin-right: 0; }

.opponent-container {
  width: 75%;
  margin: 0 auto;
  background-color: lightgrey; }

.opponent-info-container {
  width: 48%;
  background-color: grey;
  display: inline-block;
  margin-right: 4%;
  margin-bottom: 37px; }

.opponent-info-container img {
  margin: 0 auto;
  display: block;
  width: 50%; }

.location-info-container:last-child {
  margin-right: 0; }
